{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
    <main class="main-container customer-container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="home-container">
            <section class="section-box">
                <h2>Mes prestations en cours</h2>
                {% if active_requests is not empty %}
                    <ul class="fixer-service-list">
                        {% for request in active_requests | slice(0, 3) %}
                            <li class="service-card border p-1.5 h-fit m-1">
                                <h4 class="service-name">{{ request.request.service.name }}</h4>
                                <h4 class="service-name">{{ request.getCreatedAt() | date("H:m:s d/m/Y") }}</h4>
                                <h4 class="service-name">{{ request.request.customer.getFirstName() }}
                                    {{ request.request.customer.getLastName() }}</h4>
                                <a href="{{ path('fixer_request', {'slug': request.request.slug}) }}" class="btn btn-primary">Modifier</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="py-0.5 flex justify-center">
                        <a class="btn-secondary" href="{{ path('fixer_requests') }}">Voir plus</a>
                    </div>
                {% else %}
                    <div class="no-results py-1 flex justify-center">
                        <h4>Vous n'avez aucune prestation en cours pour le moment</h4>
                    </div>
                {% endif %}
            </section>
            <section class="section-box">
                <h2>Demandes clients</h2>
                {% if customer_requests is not empty %}
                    <ul class="flex-col items-center py-2">
                        {% for request in customer_requests | slice(0, 5) %}
                            <li class="list-item w-10/12 border p-0.75 my-0.25">
                                <div class="container">
                                    <div class="item-title">
                                        <h4>
                                            <a class="link-primary" href="{{ path('fixer_open_request', {'slug': request.slug}) }}">{{ request.subject }}
                                                | #{{ request.reference }} </a>
                                        </h4>
                                    </div>
                                    <div class="item-description">
                                        <span>Par {{ request.customer.firstname }} {{ request.customer.lastname }} - {{ request.createdAt ? request.createdAt|date('d-m-Y') : '' }}</span><br><br>
                                        <span>{{ request.description }}</span>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="py-0.5 flex justify-center">
                        <a class="btn-secondary" href="{{ path('fixer_open_requests') }}">Voir plus</a>
                    </div>
                {% else %}
                    <div class="no-results py-1 flex justify-center">
                        <h4>Il n'y a aucune demande disponible pour le moment</h4>
                    </div>
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}
