{% extends 'fixer/fixer.html.twig' %}

{% block body %}
	<main class="main-container fixer-container">
		<div class="home-container">
			<h1>Modifier un service</h1>
			<p>Étape actuelle:
				{{current_step.name}}</p>
			{% if next_step %}
				<p>Étape suivante:
					{{next_step.name}}</p>
			<form action="{{ path('fixer_request', {'id': request.id}) }}" method="POST">
				<input type="hidden" name="id" value="{{next_step.id}}">
				<button class="btn btn-primary">Passer à l'étape suivante</button>
			</form>
			{% endif %}
			<a href="{{ path('fixer_requests') }}">Retour à votre page</a>
		</div>
	</main>
{% endblock %}
