{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<section class="top-content section-box">
				<h2>Mes prestations en cours</h2>
				<ul class="fixer-service-list">
					{% for ra in active_requests %}
						<li class="service-card border p-1.5 h-fit">
							<h4 class="service-name">{{ ra.request.service.name }}</h4>
							<h4 class="service-name">{{ ra.getCreatedAt() | date("d/m/Y à H:m:s") }}</h4>
							<h4 class="service-name">{{ ra.request.customer.getFirstName() }}
								{{ ra.request.customer.getLastName() }}</h4>
								<a href="{{ path('fixer_request', {'slug': ra.request.slug}) }}" class="btn btn-primary">Modifier</a>
						</li>
					{% endfor %}
				</li>
			</ul>
		</section>
	</div>
</main>{% endblock %}
