{% extends 'customer/customer.html.twig' %}

{% block body %}
    <section class="search-container">
        <div class="search-filters-container">
            <div class="search-filters">
                {{ form_start(form, {action : path('customer_search')}) }}
                <ul class="filter-list">
                    {{ form_widget(form.query) }}
                    <li class="filter-item">
                        {{ form_row(form.category, {attr : {'data-event' : 'submitOnSelectedFilter'}}) }}
                    </li>
                    <li class="filter-item">
                        {{ form_row(form.sort, {attr : {'data-event' : 'submitOnSelectedFilter'}}) }}
                    </li>
                </ul>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="search-results-container">
            <div class="search-results">
                <ul class="search-list">
                    {% for service in services %}
                        <li class="search-item">
                            <div class="item-title">
                                <p>{{ service.name }}</p>
                            </div>
                            <div class="item-description">
                                <p>{{ service.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="search-navigation">
                    {{ knp_pagination_render(services) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
