{% extends 'customer/customer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
    {% set fixer_profile = path('fixer_profile', {'slug': service.fixer.slug}) %}
    {% set reviews_count = reviews | length %}
    <main class="main-container customer-container no-padding">
        <div class="service-head-container">
            <div class="service-head">
                <div class="profile-picture">
                    <img alt="" src="{{ asset('images/repair.png') }}">
                </div>
                <div class="profile-info">
                    <h1 class="pb-0.5 font-semibold">{{ service.name }}</h1>
                    <span>par <a href="{{ fixer_profile }}">{{ service.fixer.alias }}</a></span>
                    <span>{{ service.fixer.address.street }}, {{ service.fixer.address.postcode }} {{ service.fixer.address.city }}</span>
                    <p class="profile-review pt-0.5">
                        <span> {{ stars(service.rating) }}</span>
                        <a href="#reviews">{{ reviews_count }} avis</a>
                    </p>
                </div>
                <div class="price-info">
                    <h1>{{ service.price | number_format(0, ',', ' ') }} €</h1>
                </div>
            </div>
        </div>
        <div class="service-container">
            <div class="service-content-wrapper flex align-start">
                <div class="col-8 pl-0">
                    <div class="service-content-container flex-col">
                        {% include 'customer/service/_section_description.html.twig' %}
                        {% include 'customer/service/_section_location.html.twig' %}
                        {% if reviews_count > 0 %}
                            {% include 'customer/service/_section_reviews.html.twig' %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-4 pr-0">
                    <div class="service-sidebar-container">
                        {% include 'customer/service/_section_request.html.twig' %}
                        {% include 'customer/service/_section_contact.html.twig' %}
                    </div>
                </div>
            </div>
            {% if other_services is not empty %}
                {% include 'customer/service/_section_suggestion.html.twig' %}
            {% endif %}
        </div>
    </main>
{% endblock %}
