{% macro stars(rating) %}
    {% for index in [1 ,2, 3, 4, 5] %}
        {% set img = rating >= index or index - rating <= 0.15
            ? "star-filled" :  (index - rating >= 0.85 ? 'star-empty' : 'star-half') %}
        <img class="review-star" alt="" src="{{ asset("images/#{img}.svg") }}">
    {% endfor %}
{% endmacro %}

{% macro progress_step(steps, reference_step) %}
    <ul class="step-list progress-step">
        {% for step in steps %}
            <li class="step-item {{ step.step <= reference_step.step ? 'active' : '' }}">
                <div class="step">
                    <span class="label">{{ step.step }}</span>
                </div>
                <div class="content">
                    <span class="title">{{ step.name }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro vertical_progress_step(steps, reference_step) %}
    <ul class="step-list vertical-progress-step">
        {% for step in steps %}
            <li class="step-item {{ step.step <= reference_step.step ? 'active' : '' }}">
                <div class="step">
                    <span class="label">{{ step.step }}</span>
                </div>
                <div class="content">
                    <span class="title">{{ step.name }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}