<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %} {% include 'admin/layout/_header.html.twig' %} {% endblock %}

<table>
    <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Numero de Tel</th>
    </tr>
    </thead>
    <tbody>
    {% for user in allUser %}
        <tr>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% block footer %} {% include 'admin/layout/_footer.html.twig' %} {% endblock %}
</body>
</html>