{% extends 'customer/customer.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% if request_actives is not empty %}
            {% for request_active in request_actives %}
                <div class="col-4">
                    <ul class="request-card">
                        <li>
                            <a href="{{ path('customer_request_show', {'slug': request_active.request.slug}) }}" class="card">
                            {% if request_active.request.category.picture %}
                                <img src="{{ asset("images/categories/" ~ request_active.request.category.picture) }}" style="width:auto" class="card__image" alt="" />
                            {% else %}
                                <img src="{{ asset("images/categories/no-pic.png") }}" style="width:auto" class="card__image" alt="" />
                            {% endif %}
                            <div class="card__overlay">
                                <div class="card__header">
                                    {% if request_active.fixer is not empty %}
                                    <img class="card__thumb" src="https://edito.regionsjob.com/xjob/wp-content/uploads/sites/3/2020/11/salaire-technicien-maintenance-722x425.jpg" alt="" />
                                    {% endif %}
                                    <div class="card__header-text">
                                        <h3 class="card__title">#{{ request_active.request.reference }} {{ request_active.request.subject }}</h3>
                                        <span class="card__tagline">Début {{ request_active.createdAt ? request_active.createdAt|date('d-m-Y H:i:s') : '' }}</span> 
                                        <span class="card__status">Crée le {{ request_active.request.createdAt ? request_active.request.createdAt|date('d-m-Y H:i:s') : '' }}</span>
                                    </div>
                                </div>
                                <p class="card__description">
                                    {{ request_active.content }}
                                    {{ request_active.request.description }}
                                </p>
                            </div>
                            </a>      
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <section class="request-container no-results">
                <div class="no-results-text">
                    <h1>Vous n'avez aucune demande enregistré pour le moment</h1>
                </div>
            </section>
        {% endif %}
    </div>
    <div class="container">
        <a class="btn btn-primary" href="{{ path('customer_open_requests') }}">Retour</a>
    </div>
</div>
{% endblock %}