{% extends 'customer/customer.html.twig' %}

{% block title %}Mes demandes en attente{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% if requests is not empty %}
            {% for request in requests %}
            <div class="col-4">
                <ul class="request-card">
                    <li>
                        <a href="{{ path('customer_request_show', {'id': request.id}) }}" class="card">
                        <img src="https://i.pinimg.com/originals/b3/f5/05/b3f505691f10a84867497d7b58e7525a.png" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">                  
                                <img class="card__thumb" src="https://edito.regionsjob.com/xjob/wp-content/uploads/sites/3/2020/11/salaire-technicien-maintenance-722x425.jpg" alt="" />
                                <div class="card__header-text">
                                    <h3 class="card__title">#{{ request.reference }} {{ request.subject }}</h3>
                                    <span class="card__tagline">Début prévu {{ request.expectedAt ? request.expectedAt|date('d-m-Y H:i:s') : '' }}</span> 
                                    <span class="card__status">Crée le {{ request.createdAt ? request.createdAt|date('d-m-Y') : '' }}</span>
                                </div>
                            </div>
                            <p class="card__description">
                                {{ request.status }} <br> 
                                {{ request.description }}
                            </p>
                        </div>
                        </a>      
                    </li>
                </ul>
                <div class="col-2">
                    <a href="{{ path('customer_request_services', {'id': request.id}) }}">Choisir un service</a>
                    <a href="{{ path('customer_request_delete', {'id': request.id}) }}">Supprimer</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <section class="request-container no-results">
                <div class="no-results-text">
                    <h1>Aucune demande trouvée</h1>
                    <p>Veuillez faire une demande</p>
                </div>
            </section>
        {% endif %}
    </div>
</div>
<div class="container">
    <a href="{{ path('customer_request_new') }}">Créer une demande</a>
    <a href="{{ path('customer_search') }}">Retour</a>
</div>
{% endblock %}
