{% extends 'base.html.twig' %}

{% block title %}Request{% endblock %}

{% block body %}
    <h1>Request</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ request.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ request.reference }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ request.subject }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ request.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ request.status }}</td>
            </tr>
            <tr>
                <th>Expected_at</th>
                <td>{{ request.expectedAt ? request.expectedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ request.createdAt ? request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ request.updatedAt ? request.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_request_index') }}">back to list</a>

    <a href="{{ path('customer_request_edit', {'id': request.id}) }}">edit</a>

    {{ include('customer/request/_delete_form.html.twig') }}
{% endblock %}
