<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}Services disponibles{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %} {% include 'admin/layout/_header.html.twig' %} {% endblock %}

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard"> </span>
        </div>

        <div class="profile-details">
            <img src="images/profile.jpg" alt="">
            <span class="admin_name">{{ app.user.email }}</span>
        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">

            <h1>Liste des services proposés</h1>

    <table class="content-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Fixer</th>
                <th>Rating</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.description | raw }}</td>
                <td>{{ service.alias }}</td>
                <td>{{ service.rating }}</td>
                <td>{{ service.rating }}</td>
                <td> <a href="{{ path('admin_service_delete', {'id': service.id}) }}" class="btn-danger"> <label class="fa-solid fa-trash-can"></label></a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            </div>
        </div>
    </div>
</section>
</body>
</html>



