<header id="customer-header" class="app-header fixer-header">
    <div class="header-main">
        <div class="logo-container">
            <a href="{{ path('fixer_home') }}">
                <span>Dinofix</span>
                <span class="pro-mark">Pro</span>
            </a>
        </div>
        <nav class="main-header-nav">
            <ul class="header-nav-list">
                {# <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Français</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="#">Français</a>
                        </li>
                        <li>
                            <a href="#">Anglais</a>
                        </li>
                    </ul>
                </li> #}
                <li class="header-nav-item">
                    <a href="{{ path('fixer_services_create') }}">Créer un service</a>
                </li>
                <li class="header-nav-item">
                    <a href="{{ path('fixer_open_requests') }}">Consulter les demandes</a>
                </li>
                <li class="header-nav-item">
                    <a href="{{ path('fixer_requests') }}">Mes interventions en cours</a>
                </li>
                <li class="header-nav-item dropdown-item" data-event="dropdownItemOnClick">
                    <a class="dropdown-title" href="#">Mon compte</a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="{{ path('fixer_profile_edit') }}">Mes informations</a>
                        </li>
                        <li>
                            <a href="{{ path('fixer_services') }}">Mes services</a>
                        </li>
                        <li>
                            <a href="{{ path('fixer_history') }}">Historique</a>
                        </li>
                        {# <li>
                            <a href="#">Paramètres</a>
                        </li> #}
                        <li>
                            <a href="{{ path('fixer_profile', {'slug' : app.user.slug}) }}">Profil public</a>
                        </li>
                        <li>
                            <a href="{{ path('fixer_logout') }}">Deconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>