<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>{% block title %}Admin créer categorie{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %} {% include 'admin/layout/_header.html.twig' %} {% endblock %}
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard"> </span>
        </div>

        <div class="profile-details">
            <img src="images/profile.jpg" alt="">
            <span class="admin_name">Admin Name</span>
        </div>
    </nav>

    <div class="home-content">


        <div class="sales-boxes">
            <div class="recent-sales box">

<h2> Créer une nouvelle catégorie :</h2>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<p>
{{ form_label(form.name) }}
{{ form_widget(form.name) }}
</p>
<p>
{{ form_label(form.description) }}
{{ form_widget(form.description) }}
</p>

<input class="btn-success" type="submit" value="Insérer nouvelle catégorie">
{{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>
</section>
</body>
</html>