<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %} {% include 'admin/layout/_header.html.twig' %} {% endblock %}

<h2> Créer une nouvelle catégorie :</h2>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_label(form.name) }}
{{ form_widget(form.name) }}
{{ form_label(form.description) }}
{{ form_widget(form.description) }}
{{ form_label(form.slug) }}
{{ form_widget(form.slug) }}
<input type="submit" value="Insérer nouvelle catégorie">
{{ form_end(form, {'render_rest': false}) }}



{% block footer %} {% include 'admin/layout/_footer.html.twig' %} {% endblock %}
</body>
</html>