{% extends 'fixer/fixer.html.twig' %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<h1>Créer un nouveau service</h1>
			<div class="form-wrapper w-3/5">
				{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.description, {'attr': {'data-event': 'setTextEditor'}}) }}
				{{ form_row(form.price) }}
				{{ form_row(form.category) }}
				{{ form_row(form.dino) }}
				{{ form_row(form.picture) }}
				{{ form_row(form.save) }}
				{{ form_end(form) }}
			</div>
			<a href="{{ path('fixer_home') }}" class="btn btn-primary">Retour à votre page</a>
			{% if service.slug is not empty %}
				<a href="{{ path('fixer_service_step', {'slug': service.slug}) }}" class="btn btn-secondary">Personaliser les étapes pour ce service</a>
			{% endif %}
		</div>
	</main>
{% endblock %}
