{% extends 'fixer/fixer.html.twig' %}
{% from 'macros/utils.html.twig' import stars %}

{% block body %}
	<main class="main-container customer-container">
		<div class="home-container">
			<section class="top-content section-box">
				<h2>Mes services</h2>
				<ul class="list-column py-1">
					{% for service in fixer_services %}
						<li class="list-item service-card">
							<div class="content-top">
							{% if service.picture %}
								<img src="{{ asset("uploads/services/" ~ service.picture) }}" alt="{{ service.picture }}">
							{% else %}
								<img src="{{ asset('images/services.jpg') }}" alt="default-service">
							{% endif %}
							</div>
							<div class="content-bottom">
								<p class="flex-col">
									<span class="name">
										{{ service.description|length > 50 ? service.description|slice(0, 80) ~ '...' : service.description }}
									</span>
									<span class="text-xs font-light pt-0.5">
										Titre <a class="link-primary font-medium" href="{{ path('fixer_services_edit', {'slug': service.slug}) }}">{{ service.name }}</a>
									</span>
								</p>
								<p class="flex items-center text-xs">
									<span class="stars">{{ stars(service.rating) }}</span>
									<span class="review-total">({{ service.reviews }})</span>
								</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	</main>
{% endblock %}
