{% extends 'customer/customer.html.twig' %}

{% block title %}Mes demandes en cours{% endblock %}

{% block body %}
<div class="container">
    <section class="">
        <ul class="list-row">
            {% if request_actives is not empty %}
                {% for request_active in request_actives %}
                    <div class="col-12">
                        <ul class="progressbar">
                            {% for step in steps|sort((a, b) => a.step <=> b.step) %}
                                {% if step.step > 0 %}
                                    <li class="{{ request_active.step.step == step.step ? "active" : ""}}">{{ step.name }}</li>
                                {% endif %}
                            {% endfor %}
                            {% if request_active.step.step == "-1" %}
                                <li class="active">En pause</li>
                            {% endif %}
                        </ul>
                    </div>
                    <li class="list-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="item-title">
                                        <h4>
                                            <a href="{{ path('customer_request_show', {'id': request_active.request.id}) }}">#{{ request_active.request.reference }} {{ request_active.request.subject }}</a>
                                        </h4>
                                    </div>
                                    <div class="item-description">
                                        <span>Créée le {{ request_active.createdAt ? request_active.request.createdAt|date('d-m-Y H:i:s') : '' }}</span><br><br>
                                        <span>{{ request_active.request.description }}</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="item-title">
                                        <a href="">Le dinofixer {{ request_active.fixer.lastname }} {{ request_active.fixer.firstname }} a débuté le {{ request_active.createdAt ? request_active.createdAt|date('d-m-Y H:i:s') : '' }}</a>
                                    </div>
                                    <div class="item-description">
                                    <br>
                                        Service : {{ request_active.request.service.name }}<br><br>
                                        Mail : {{ request_active.fixer.email }}<br><br>
                                        Tel : {{ request_active.fixer.phone }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <section class="request-container no-results">
                    <div class="no-results-text">
                        <h1>Aucune demande trouvée</h1>
                        <p>Veuillez faire une demande</p>
                    </div>
                </section>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock %}