{% extends 'base.html.twig' %}

{% block title %}RequestActive{% endblock %}

{% block body %}
    <h1>RequestActive</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ request_active.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ request_active.content }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ request_active.status }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ request_active.createdAt ? request_active.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ request_active.updatedAt ? request_active.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if request_active.status != 4 %}
        <a href="{{ path('customer_request_active_index') }}">back to list</a>
        <a href="{{ path('customer_request_active_edit', {'id': request_active.id}) }}">edit</a>
        {{ include('customer/request_active/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
