
<h2> Faites nous un retour ! :</h2>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_label(form.rate) }}
{{ form_widget(form.rate) }}
{{ form_label(form.message) }}
{{ form_widget(form.message) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}